<%- include partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->
<!-- Main Content -->
<body class="Assignemnt2">
  <div class="main" id="About"> 
    <a href="/contact"></a>  <!-- This line calling css file from contact folder. the css file name is app.css. -->
  </div>
  <main>
    <%- include partials/homepagecontant.ejs %>  <!-- This line calling homepagecontant.ejs -->
    <%- include partials/Projectcontant.ejs %>  <!-- This line calling Projectcontant.ejs -->
    <%- include partials/AboutMeContant.ejs %>  <!-- This line calling AboutMeContant.ejs -->
    <%- include partials/ContactMeContant.ejs %> <!-- This line calling ContactMeContant.ejs -->
  </main>
</body>
<%- include partials/footer.ejs %> <!-- This line calling footer from particals folder.ejs -->